**

!Dockerfile
!.dockerignore
!package.json
!package-lock.json

!cocos-client/
!cocos-client/package.json

!packages/
!packages/game-core/
!packages/game-core/package.json
!packages/game-core/tsconfig.json
!packages/game-core/tsconfig.build.json
!packages/game-core/src/
!packages/game-core/src/**
!packages/room-protocol/
!packages/room-protocol/package.json
!packages/room-protocol/tsconfig.json
!packages/room-protocol/tsconfig.build.json
!packages/room-protocol/src/
!packages/room-protocol/src/**
!packages/room-server/
!packages/room-server/package.json
!packages/room-server/tsconfig.json
!packages/room-server/tsconfig.build.json
!packages/room-server/src/
!packages/room-server/src/**
